[submodule "vendor/xoreos-docs"]
	path = vendor/xoreos-docs
	url = https://github.com/th3w1zard1/xoreos-docs.git
[submodule "vendor/xoreos"]
	path = vendor/xoreos
	url = https://github.com/th3w1zard1/xoreos.git
[submodule "vendor/xoreos-tools"]
	path = vendor/xoreos-tools
	url = https://github.com/th3w1zard1/xoreos-tools.git
[submodule "vendor/reone"]
	path = vendor/reone
	url = https://github.com/th3w1zard1/reone.git
[submodule "vendor/PyKotor"]
	path = vendor/PyKotor
	url = https://github.com/th3w1zard1/PyKotor.git
[submodule "vendor/Kotor.NET"]
	path = vendor/Kotor.NET
	url = https://github.com/NickHugi/Kotor.NET.git
[submodule "vendor/kaitai_struct_compiler"]
	path = vendor/kaitai_struct_compiler
	url = https://github.com/kaitai-io/kaitai_struct_compiler.git
[submodule "vendor/MDLOps"]
	path = vendor/MDLOps
	url = https://github.com/ndixur/mdlops.git
[submodule "_upstream_refs/kotor.js"]
	path = _upstream_refs/kotor.js
	url = https://github.com/kobaltblu/kotor.js.git
[submodule "_upstream_refs/northernlights"]
	path = _upstream_refs/northernlights
	url = https://github.com/lachjames/northernlights.git
[submodule "_upstream_refs/reone"]
	path = _upstream_refs/reone
	url = https://github.com/modawan/reone.git
[submodule "reone_dds_scan"]
	path = reone_dds_scan
	url = https://github.com/modawan/reone.git
